#Start{
    width: 10%;
    height: 5vh;
    margin: 15px 45%;
    border: none;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 900;
}
.faceDown, .faceUp{
    width: 6%;
    height: 15vh;    
    float: left;
    margin: 0.125% 0.125%;
}
.cards{
    display: inline;
}
.faceDown{
    background-color: red;
    border-radius: 5%;
}
 